<div id="job_<%=  job.id %>">
	<div class="job-name">
		<%= job.name %>
	</div>
	<div class="job-updated">
		Last Updated :
		<%= job.updated_at.time.to_formatted_s(:short)   %>
	</div>
	<div class="job-state">
		<%= job.state ? job.state : "Processing Job" %>
	</div>
	<!-- Temp hack to disable delete buttons on main view -->
	<!-- These are mostly for testing -->

	<% if current_page?(controller: 'lab', action: 'index') || controller_name == 'application' %> 
	<%= button_to "Delete", {controller: :jobs, action: 'destroy', id: job.id }, method: :delete, remote: true %>
	<%= button_to "Complete", {controller: 'jobs', action: 'update', remote: true}, {class: 'complete', disabled: true} %>
	<%= button_to "Ready", {controller: 'jobs', action: 'update', remote: true}, {class: 'ready', disabled: true} %>
	<% end %>
</div>