<!DOCTYPE html>
<html>
  <head>
    <!-- Set the size for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Bathtub</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900,900italic,400italic,700italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="foundation">
      <div id="house">
        <h1>Site Title</h1>
        <h3>Main</h3>
        <nav>
          <ul>
            <li><%= link_to "Home", root_path, :class=> active_class(root_path) %></li>
            <li><%= link_to "Bath", bath_path, :class=> active_class(bath_path) %></li>
            <!-- <li><%= link_to "Contact", contact_path, :class=> active_class(contact_path) %></li> -->
          </ul>
        </nav>
        <div id="bathroom">
          <%= yield %>
        </div>
        <%= link_to "Lab", lab_path, :class=> "link" %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
  </body>
</html>